  
[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]
Django = "==2.2.27"
requests = "*"
setuptools = "*"
six = "*"
soupsieve = "*"
urllib3 = "*"
wrapt = "*"
psycopg2 = "*"
gunicorn = "*"
django_heroku = "*"
dj_database_url = "*"
whitenoise = "*"
beautifulsoup4 = "*"



