{% load static %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
  integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
  integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" href="{% static 'reviewer/style.css' %}">
<link rel="icon" href="/static/reviewer/images/favicon2.png">
<nav class="navbar navbar-expand-lg navbar-dark bg-black">
<div style="padding-right: 10px"><img src="/static/reviewer/images/favicon2.png" width="35" height="35" alt=""></div>
  <a class="navbar-brand" href="#">Academician</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Recents
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            {% for professor in prof_history %}
              <a class="dropdown-item" href="professor/{{ professor.id}}">{{professor.name}}</a>
            {% endfor %}
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Clear History</a>
          </div>
        </li>
      <li class="nav-item">
        <a class="nav-link" href="/reviewer/about">About</a>
      </li>

    </ul>
  </div>
</nav>
<div class="jumbotron bg-dark">
  <h1 class="display-4">Looking for a professor?</h1>
  <!---p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to
    featured content or information.</p-->
  <hr class="my-4">
  There are currently {{total_professors}} professors and {{total_reviews}} reviews in the database.
  <p class="lead">
    <form class="form-inline my-2 my-lg-0" id="searchform">
      <input class="form-control mr-sm-2" id="searchbar" type="search" placeholder="Enter professor name" aria-label="Search">
      <button type="submit" class="btn" id="searchbtn" value="Submit">Search</button>
      <script type="text/javascript">
        document.getElementById('searchform').onsubmit = function() {
            window.location = 'search/' + document.getElementById('searchbar').value.replace(" ", "_");
            return false;
        }
      </script>
    </form>
    
     
  </p>
</div>
{% if recent_professors %}
<div class=" container content">
      <div class="card-columns">
        <div class="card bg-dark">
          <ul class="list-group list-group-horizontal-sm"></ul>
          <div class="card-header text-light">
            <h5>
            Recent Searches:
          </h5>
          </div>

          <ul class="list-group list-group-flush">
            {% for professor in recent_professors %}
            <a class="list-group-item bg-dark" href="/reviewer/professor/{{ professor.id }}/">
                <h5 class="text-primary">{{ professor.name }}</h5>
                <h6 class="text-secondary">{{ professor.school}}</h6>
                {% if professor.hasNew %}
                <span class="badge badge-warning">New</span>
                {% endif %}
                <span class="badge badge-light">{{professor.reviewCount}} Reviews</span>
              </a>
            {% endfor %}
          </ul>
        </div>
        <div class="card bg-dark">
          <ul class="list-group list-group-horizontal-sm"></ul>
          <div class="card-header text-light">
              <h5>
            Most Popular Searches:
                </h5>
          </div>

          <ul class="list-group list-group-flush">
            {% for professor in popular_professors %}
            <a class="list-group-item bg-dark" href="/reviewer/professor/{{ professor.id }}/">
                <h5 class="text-primary">{{ professor.name }} </h5>
                <h6 class="text-secondary">{{ professor.school}}</h6>
                
                {% if professor.hasNew %}
                <span class="badge badge-warning">New</span>
                {% endif %}
                <span class="badge badge-light"> {{professor.reviewCount}} Reviews</span>
          </a>
            {% endfor %}
          </ul>
          </ul>
        </div>
      </div>
</div>
<p></p>
{% else %}
<p>No professor information is available.</p>
{% endif %}